body {
	background-color: #f0f0f0;
}

Framework\:Page {
	background-color: white;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
}

Framework\:Theme footer ul li ul {
	border-left: solid 1pt #cdcdcd;
}

input.text,textarea,select {
	border-color: #888;
	background-color: white;
}

input.text:focus,textarea:focus,select:focus {
	background-color: #fafafa;
	border-color: #666;
}

Framework\:Theme footer ul li span,Framework\:Theme footer ul li a {
	color: #898989;
}