@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 80%;
	display: block;
}

Framework\:Theme {
	padding: 0px;
	height: 100%;
	display: block;
}

Framework\:Page {
	position: relative;
	display: block;
	z-index: 0;
}

FileDropTarget {
	display: block;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
}

Framework\:Widgets {
	cursor: default;
	position: relative;
}

Framework\:Widgets,WhiteOut {
	width: 100%;
	height: 100%;
	display: block;
}

Framework\:Widgets h1,Framework\:Widgets h2,Framework\:Widgets h3,Framework\:Widgets h4,Framework\:Widgets h5,Framework\:Widgets BreadCrumb,Framework\:Widgets NavBar,Framework\:Widgets ToolBar,Framework\:Widgets label
	{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

Framework\:Widgets BreadCrumb input.text {
	-webkit-touch-callout: all;
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

Framework\:Widgets Framework\:Page,Framework\:Widgets Toolbar,Framework\:Widgets NavBar
	{
	-webkit-transition: -webkit-filter 500ms;
	-moz-transition: -moz-filter 500ms;
	-o-transition: -o-filter 500ms;
	-ms-transition: -ms-filter 500ms;
	transition: filter 500ms;
}

/* Framework\:Widgets.blurred Framework\:Page,
Framework\:Widgets.blurred Toolbar,
Framework\:Widgets.blurred NavBar {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
} */
Framework\:Widgets WhiteOut {
	background-color: rgba(255, 255, 255, 0.5);
	/*display: none;*/
	position: absolute;
	z-index: 500;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

Framework\:Widgets WhiteOut Spinner {
	background: url({{/images/ajax-loader.gif}}) no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	display: block;
}

Framework\:Widgets WhiteOut Popup {
	padding: 40px;
	padding-top: 30px;
	display: block;
	position: absolute;
	max-width: 80%;
	min-width: 230px;
	-webkit-transform: scale(0.75) rotate3d(1, 0, 0, 45deg) translateY(20%);
	-moz-transform: scale(0.75) rotate3d(1, 0, 0, 45deg) translateY(20%);
	-ms-transform: scale(0.75) rotate3d(1, 0, 0, 45deg) translateY(20%);
	-o-transform: scale(0.75) rotate3d(1, 0, 0, 45deg) translateY(20%);
	transform: scale(0.75) rotate3d(1, 0, 0, 45deg) translateY(20%);
	transition: transform 500ms ease, opacity 500ms ease, box-shadow 500ms
		ease;
	-moz-transition: -moz-transform 500ms ease, opacity 500ms ease,
		box-shadow 500ms ease;
	-webkit-transition: -webkit-transform 500ms ease, opacity 500ms ease,
		-webkit-box-shadow 500ms ease;
	-o-transition: -o-transform 500ms ease, opacity 500ms ease, box-shadow
		500ms ease;
	-ms-transition: -ms-transform 500ms ease, opacity 500ms ease, box-shadow
		500ms ease;
	opacity: 0;
	top: 45%;
	height: auto;
	width: auto;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.95);
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.0);
	box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.0);
}

Framework\:Widgets WhiteOut Popup div.tools {
	position: absolute;
	top: 5px;
	right: 8px;
}

Framework\:Widgets WhiteOut Popup.open {
	transform: scale(1) rotate3d(1, 0, 0, 0deg) translateY(0px);
	-moz-transform: scale(1) rotate3d(1, 0, 0, 0deg) translateY(0px);
	-ms-transform: scale(1) rotate3d(1, 0, 0, 0deg) translateY(0px);
	-o-transform: scale(1) rotate3d(1, 0, 0, 0deg) translateY(0px);
	-webkit-transform: scale(1) rotate3d(1, 0, 0, 0deg) translateY(0px);
	-webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.5);
	opacity: 1;
}

Framework\:Widgets WhiteOut Popup Span.debug {
	display: none;
}

Framework\:Widgets WhiteOut Popup PageButtons {
	margin-bottom: -25px;
	margin-top: 25px;
	display: block;
	text-align: center;
}

Framework\:Widgets WhiteOut Popup img.item {
	transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	transition: transform 300ms ease, opacity 300ms ease;
	-moz-transition: -moz-transform 300ms ease, opacity 300ms ease;
	-webkit-transition: -webkit-transform 300ms ease, opacity 300ms ease;
	-o-transition: -o-transform 300ms ease, opacity 300ms ease;
	-ms-transition: -ms-transform 300ms ease, opacity 300ms ease;
	cursor: pointer;
	opacity: 0.8;
}

Framework\:Widgets WhiteOut Popup img:hover.item {
	transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	opacity: 1;
}

Framework\:Widgets WhiteOut Popup h1,Framework\:Widgets WhiteOut Popup h2,Framework\:Widgets WhiteOut Popup h3,Framework\:Widgets WhiteOut Popup h4,Framework\:Widgets WhiteOut Popup h5
	{
	text-align: center;
}

Toolbar {
	height: 32px;
	display: block;
	background: rgb(6, 21, 35); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(6, 21, 35, 1) 0%,
		rgba(20, 22, 38, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(6,
		21, 35, 1) ), color-stop(100%, rgba(20, 22, 38, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(6, 21, 35, 1) 0%,
		rgba(20, 22, 38, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(6, 21, 35, 1) 0%,
		rgba(20, 22, 38, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(6, 21, 35, 1) 0%,
		rgba(20, 22, 38, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(6, 21, 35, 1) 0%,
		rgba(20, 22, 38, 1) 100% ); /* W3C */
	filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
		'#061523', endColorstr = '#141626', GradientType = 0 ); /* IE6-9 */
	font: normal 13px sans-serif;
}

Toolbar Widget {
	float: left;
	padding-left: 7px;
	padding-right: 7px;
	line-height: 32px;
	display: inline-block;
	width: auto;
	color: white;
	position: relative;
	background-color: inherit;
	border-left: solid 1pt #1c2749;
	-webkit-transition: all 200ms; /* Safari */
	transition: all 200ms;
}

Toolbar Widget.cap {
	border-right: solid 1pt #1c2749;
}

Toolbar Widget.last {
	float: right;
}

Toolbar Widget:hover {
	background-color: #1c2749;
}

Toolbar Widget.alive {
	cursor: pointer;
}

Toolbar Widget Menu {
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
	-webkit-transition: all 300ms; /* Safari */
	transition: all 300ms;
	width: 0px;
	opacity: 0;
	cursor: default;
	position: absolute;
	z-index: 300;
	top: 15px;
	display: block;
	left: -1px;
	background-color: white;
	border: solid 1pt lightGray;
	border-top: none;
	padding: 0px;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	pointer-events: none;
}

Toolbar Widget Menu hr {
	background-color: #a4a4a4;
	border: none;
	height: 1px;
	margin: 4px;
}

Toolbar Widget.last Menu {
	right: -1px;
	left: auto;
}

Toolbar Widget:hover Menu {
	pointer-events: auto;
	width: 180px;
	opacity: 1;
}

Toolbar Widget.last:hover Menu {
	width: 120px;
}

Toolbar Widget Menu a {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-transition: all 300ms; /* Safari */
	transition: all 300ms;
	text-decoration: none;
	display: block;
	color: #222;
	width: 100%;
	padding-left: 8px;
	padding-right: 8px;
	font: inherit;
	font-size: 90%;
	line-height: 30px;
}

Toolbar Widget Menu a:hover {
	background-color: #eaeaea;
}

Toolbar Widget Menu a:hover.dead {
	background-color: #f2f2f2;
}

Toolbar Widget Menu a img {
	float: left;
	width: 32px;
	height: 32px;
	position: relative;
	margin-right: 6px;
	top: 4px;
}

Toolbar Widget Menu a small {
	float: right;
	font-size: 70%;
	vertical-align: baseline;
}

Toolbar Widget Menu a span {
	top: -6px;
	position: relative;
	line-height: normal;
	display: block;
	font-size: 80%;
	margin: 0px;
}

NavBar {
	-webkit-box-shadow: inset -3px 3px 3px 2px rgba(1, 1, 1, 0.2);
	-moz-box-shadow: inset -3px 3px 3px 2px rgba(1, 1, 1, 0.2);
	box-shadow: inset -3px 3px 3px 2px rgba(1, 1, 1, 0.2);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 28px;
	height: 100%;
	display: block;
	float: left;
	margin-top: -28px;
	width: 150px;
	background-color: #dfdfdf;
	z-index: 200;
}

NavBar Uploads {
	position: absolute;
	display: block;
	bottom: 0px;
}

NavBar Uploads Entry {
	display: block;
	padding: 3px;
	font-size: 10px;
	color: #888;
	width: 144px;
	border-top: solid 1pt black;
	background-color: #555;
	position: relative;
}

NavBar Uploads Entry.started {
	display: block;
	position: relative;
	padding: 3px;
	font-size: 10px;
	color: #ababab;
	border-top: solid 1pt black;
	background-color: #333;
}

NavBar Uploads Entry div {
	z-index: 2;
	text-align: center;
	position: relative;
	display: block;
}

NavBar Uploads Entry ProgressBar {
	background-color: #001604;
	position: absolute;
	display: block;
	height: 100%;
	width: 0%;
	left: 0px;
	top: 0px;
}

NavBar hr {
	width: 85%;
	margin-left: 5%;
	height: 1px;
	background-color: #ababab;
	color: #ababab;
	border: none;
}

NavBar Item {
	display: block;
	font-size: 13px;
	line-height: 25px;
	cursor: pointer;
	color: #898989;
	margin-top: 8px;
	margin-bottom: 2px;
	padding-left: 15px;
	text-align: left;
	-moz-transition: all 400ms ease; /* Firefox 4 */
	-webkit-transition: all 400ms ease; /* Safari and Chrome */
	-o-transition: all 400ms ease; /* Opera */
	transition: all 400ms ease; /* Opera */
}

NavBar Item:hover {
	color: #333;
}

NavBar Item.active {
	color: #656565;
	background-color: #fdfdfd;
	font-weight: bold;
	cursor: default;
	-webkit-box-shadow: -6px 0px 3px 5px rgba(1, 1, 1, 0.2);
	-moz-box-shadow: -6px 0px 3px 5px rgba(1, 1, 1, 0.2);
	box-shadow: -6px 0px 3px 5px rgba(1, 1, 1, 0.2);
}

NavBar Item Submenu {
	display: none;
	overflow: hidden;
	padding-bottom: 4px;
}

NavBar Item Submenu hr {
	margin-left: 1%;
	width: 70%;
}

NavBar Item.active Submenu {
	height: auto;
	display: block;
	overflow: visible;
}

NavBar Item.active Submenu Item.active {
	color: #333;
	background-color: transparent;
	cursor: default;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

NavBar Item Submenu Item {
	font-size: 12px;
	line-height: 20px;
	padding-left: 5px;
	margin: 0px;
	font-weight: normal;
}

Framework\:Page {
	display: block;
	margin-top: -28px;
	width: 100%;
	height: 100%;
	padding-left: 150px;
	padding-top: 28px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

Framework\:Page BreadCrumb {
	display: block;
	font-size: 16px;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.8);
	position: relative;
	z-index: 200;
	width: 100%;
	padding: 10px;
	min-height: 20px;
}

Framework\:Page BreadCrumb img,Framework\:Widgets WhiteOut Popup div.tools img
	{
	top: 2px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	position: relative;
	-webkit-filter: grayscale(1);
	margin-left: 3px;
	opacity: 0.8;
	transition: opacity 200ms;
	-moz-transition: opacity 200ms; /* Firefox 4 */
	-webkit-transition: opacity 200ms, -webkit-filter 200ms;
	/* Safari and Chrome */
	-o-transition: opacity 200ms; /* Opera */
}

Framework\:Page BreadCrumb img:hover,Framework\:Widgets WhiteOut Popup div.tools img:hover
	{
	-webkit-filter: grayscale(0);
	opacity: 1;
}

Framework\:Page BreadCrumb Item:hover {
	cursor: pointer;
	border: solid 1pt black;
	border-radius: 5px;
	margin: -6px;
	padding: 5px;
}

@
keyframes fadein {
	from {opacity: 0;
}

to {
	opacity: 1;
}

}
@
-moz-keyframes fadein /* Firefox */ {
	from {opacity: 0;
}

to {
	opacity: 1;
}

}
@
-webkit-keyframes fadein /* Safari and Chrome */ {
	from {opacity: 0;
}

to {
	opacity: 1;
}

}
@
-o-keyframes fadein /* Opera */ {
	from {opacity: 0;
}

to {
	opacity: 1;
}

}
Framework\:Page BreadCrumb PageButtons {
	display: block;
	margin-right: 15px;
	margin-top: -4px;
	position: absolute;
	right: 10px;
	top: 10px;
	animation: fadein 500ms;
	-moz-animation: fadein 500ms; /* Firefox */
	-webkit-animation: fadein 500ms; /* Safari and Chrome */
	-o-animation: fadein 500ms; /* Opera */
}

Framework\:Page BreadCrumb PageButtons input.button,Framework\:Page BreadCrumb PageButtons button
	{
	margin-right: 3px;
}

Framework\:Page BreadCrumb PageButtons input.text {
	margin-left: 12px;
}

Framework\:Page Content {
	display: block;
	padding: 10px;
	padding-bottom: 20px;
	margin-top: -40px;
	padding-top: 40px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: auto;
}

Framework\:Page Content Center {
	margin-top: 15px;
}

Framework\:Page Content PageButtons {
	display: none;
}

Framework\:Page Content FileDrop {
	display: block;
}

Framework\:Page Content FileDrop.dropHover {
	opacity: 0.5;
}

Framework\:Page Content Table a {
	color: black;
	text-decoration: none;
	transition: color 200ms;
	-moz-transition: color 200ms; /* Firefox 4 */
	-webkit-transition: color 200ms; /* Safari and Chrome */
	-o-transition: color 200ms; /* Opera */
}

Framework\:Page Content Table TR TD {
	transition: background-color 200ms;
	-moz-transition: background-color 200ms; /* Firefox 4 */
	-webkit-transition: background-color 200ms; /* Safari and Chrome */
	-o-transition: background-color 200ms; /* Opera */
	padding: 8px;
}

Framework\:Page Content Table TR TD a {
	margin-right: 8px;
}

Framework\:Page Content Table TR.link:hover TD {
	cursor: pointer;
	background-color: #f3ffff;
	text-decoration: underline;
}

Framework\:Page Content Table TR.link:hover TD.last {
	cursor: pointer;
	background-color: #f3ffff;
	text-decoration: none;
}

Framework\:Page Content Table TR.link:hover TD a {
	text-decoration: none;
}

Framework\:Page Content a {
	text-decoration: none;
	color: black;
}

Framework\:Page Content a:hover {
	color: #00aaaa;
}

Framework\:Page Content button center {
	margin: 0px;
	padding: 0px;
}