slideshow_widget {
	width: 100%;
	overflow: hidden;
	text-align: left;
	position: relative;
	display: block;
}

slideshow_widget img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}

widget.slideshow {
	padding: 0px;
}

slideshow_widget table {
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	z-index: 200;
	height: 50px;
	width: 100%;
	left: 0px;
	top: 372px;
	transition-property: opacity;
	transition-duration: 500ms;
	transition-timing-function: ease;
	-o-transition-property: opacity;
	-o-transition-duration: 500ms;
	-o-transition-timing-function: ease;
	-ms-transition-property: opacity;
	-ms-transition-duration: 500ms;
	-ms-transition-timing-function: ease;
	-moz-transition-property: opacity;
	-moz-transition-duration: 500ms;
	-moz-transition-timing-function: ease;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 500ms;
	-webkit-transition-timing-function: ease;
	transition-delay: 2s;
	-o-transition-delay: 2s;
	-ms-transition-delay: 2s;
	-moz-transition-delay: 2s;
	-webkit-transition-delay: 2s;
}

slideshow_widget:hover table {
	opacity: 1;
	transition-delay: 0s;
	-o-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-webkit-transition-delay: 0s;
}

slideshow_widget td {
	color: #ddd;
	font-weight: bold;
	white-space: nowrap;
	padding-left: 5px;
	padding-right: 5px;
}