html,body {
	height: 100%;
}

body {
	margin: 0px;
	cursor: default;
	display: table;
	width: 100%;
}

* {
	outline: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	opacity: 0.85;
	transition: opacity 200ms;
	-webkit-transition: opacity 200ms; /* Safari */
	color: inherit;
}

a:hover {
	opacity: 1;
}

a img {
	border: none;
}

Framework\:Config,.hidden {
	display: none;
}

Framework\:Theme,header,footer,clear {
	display: block;
}

Framework\:Page,content,widget {
	width: 100%;
	display: table;
}

footer ul {
	float: right;
	display: block;
	margin-left: 4px;
}

footer ul li {
	list-style-type: none;
	margin-left: 0px;
}

Framework\:Theme {
	min-height: 100%;
	padding: 0px 24px;
	width: 100%;
}

Framework\:Page,header,footer {
	width: 800px;
	table-layout: fixed;
	display: table;
	margin: 0 auto;
}

Framework\:Page column {
	display: table-cell;
	vertical-align: top;
	height: 100%;
}

Framework\:Page column.pagearea {
	width: 100%;
}

Framework\:Page column.sidebar {
	padding: 0px;
	text-align: left;
	min-width: 140px;
	width: 140px;
}

Framework\:Page column.sidebar.right {
	padding-left: 13px;
}

Framework\:Page column.sidebar.left {
	padding-right: 13px;
}

Framework\:Page column.sidebar widget {
	margin-bottom: 20px;
}

Framework\:Page column.sidebar h1 {
	font-size: 130%;
}

Framework\:Page column.sidebar h2 {
	font-size: 120%;
}

Framework\:Page column.sidebar h3 {
	font-size: 110%;
}

right,left {
	display: inline-block;
}

clear {
	clear: both;
}

right,.float-right {
	float: right;
}

left,.float-left {
	float: left;
}

widget.component {
	display: inline-block;
	width: auto;
}
