html, body {
	height: 100%;
}

body {
	margin: 0px;
}

* {
	outline: none;
}

Framework\:Config {
	display: none;
}

Framework\:Theme,
Framework\:Page,
content,
header,
footer,
widget,
clear {
	display: block;
}

footer ul {
	float: right;
	display: block;
	margin-left: 4px;
}

footer ul li {
	list-style-type: none;
	margin-left: 0px;
}

Framework\:Theme {
	min-height: 100%;
	padding: 0px 24px;
}

Framework\:Page,
header,
footer {
	width: 800px;
	display: table;
	margin: 0 auto;
}

Framework\:Page column {
	display: inline-block;
}

Framework\:Page column.sidebar {
	text-align: left;
	display: table;
	width: 140px;
}

Framework\:Page column.sidebar.left {
	float: left;
}

Framework\:Page column.sidebar.right {
	float: right;
}

Framework\:Page column.sidebar widget {
	margin-bottom: 20px;
}

Framework\:Page column.sidebar h1 {
	font-size: 130%;
}

Framework\:Page column.sidebar h2 {
	font-size: 120%;
}

Framework\:Page column.sidebar h3 {
	font-size: 110%;
}

right,
left {
	display: inline-block;
}

clear {
	clear: both;
}

right,
.float-right {
	float: right;
}

left,
.float-left {
	float: left;
}
