groupbox Table TD input.button {
	width: 162px;
}

select:focus,select:hover,widget.options:focus,widget.options:hover {
	color: #333;
	border: solid 1pt #444;
}

button.disabled,button.disabled:hover,button.disabled:active,input.button.disabled,input.button.disabled:hover,input.button.disabled:active
	{
	background: rgb(242, 242, 242);
	border: solid 1pt #ccc;
	color: #aaa;
}

button,input.button {
	transition: all 500ms ease;
	-moz-transition: all 500ms ease; /* Firefox 4 */
	-webkit-transition: all 500ms ease; /* Safari and Chrome */
	-o-transition: all 500ms ease; /* Opera */

	color: #444;

	background-color: #EAEAEA;
	background-image: -moz-linear-gradient(#FFFFFF, #EAEAEA);
	background-image: -webkit-linear-gradient(#FFFFFF, #EAEAEA);
	background-image: linear-gradient(#FFFFFF, #EAEAEA);
	background-repeat: repeat-x;

	border: solid 1pt #EEE;
	font-weight: bold;
	text-align: center;
	font-family: Arial;
	font-size: 13px;
	padding: 4px 8px;

	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;

	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

input.button:hover,button:hover {
	cursor: pointer;
	color: #000;
	text-shadow: none;
	
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

input.button.disabled, button.disabled {
	text-shadow: none!important;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
}

button:active span.icon,button.disabled span.icon {
	opacity: 0.5;
}

button span.icon {
	transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease; /* Firefox 4 */
	-webkit-transition: opacity 200ms ease; /* Safari and Chrome */
	-o-transition: opacity 200ms ease; /* Opera */
}

input.button:active,button:active {
	transition: all 200ms ease;
	-moz-transition: all 200ms ease; /* Firefox 4 */
	-webkit-transition: all 200ms ease; /* Safari and Chrome */
	-o-transition: all 200ms ease; /* Opera */
	color: #666;
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(#EAEAEA, #FFFFFF);
	background-image: -webkit-linear-gradient(#EAEAEA, #FFFFFF);
	background-image: linear-gradient(#EAEAEA, #FFFFFF);
	background-repeat: repeat-x;
	
	-webkit-box-shadow: none;
	box-shadow: none;
}

input.text.large {
	font-size: 16px;
	width: 400px;
}

textarea.disabled,input.text.disabled,input.text.disabled:hover,input.text.disabled:focus,select.disabled,select.disabled:hover,select.disabled:focus,widget.options.disabled,widget.options.disabled:hover,widget.options.disabled:focus
	{
	cursor: default;
	border: solid 1pt #ccc;
	color: #aaa;
}

Table {
	width: 100%;
	border: solid 1pt #ccc;
	border-spacing: 0px;
	color: #555;
	font-size: 12px;
	margin: 5px 0px;
	padding: 0px;
	font-family: arial, georgia;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	empty-cells: show;
}

Table TH {
	text-align: center;
	padding: 8px;
	font-size: 13px;
	border-bottom: solid 1pt lightGray;
}

Table TD {
	height: 22px;
	padding: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 12px;
	white-space: nowrap;
	border-right: solid 1pt rgb(235, 235, 235);
}

Table TD.icon {
	width: 16px;
}

Table TD.last,Table TD.icon {
	border-right: none;
}

Table TR.alt TD {
	background-color: rgb(249, 249, 249);
}

help {
	display: inline;
	font-size: 8px;
	position: relative;
	top: -5px;
	cursor: help;
}

select,widget.options,textarea,input.text {
	border: solid 1pt #aaa;
	border-top: solid 1pt #777;
	font-size: 13px;
	color: #555;
	padding: 4px;
	width: 350px;
	background-color: white;
	margin-bottom: 6px;
	transition: all 200ms ease;
	-moz-transition: all 200ms ease; /* Firefox 4 */
	-webkit-transition: all 200ms ease; /* Safari and Chrome */
	-o-transition: all 200ms ease; /* Opera */
}

textarea:hover,input.text:hover {
	color: #5a5a5a;
	border: solid 1pt #666;
}

textarea:focus,input.text:focus {
	color: #333;
	border: solid 1pt #444;
	-webkit-box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.4);
}

input,select,textarea,buttons,widget.options {
	margin-top: -1px;
}

bubble,groupbox label {
	margin-left: 5px;
	margin-bottom: 5px;
	display: table;
	padding: 3px;
	padding-left: 6px;
	padding-right: 6px;
	border: solid 1pt lightGray;
	border-radius: 4px;
	background-color: white;
}

groupbox table {
	width: 100%;
	border: none;
}

groupbox table td {
	padding: 2px;
}

GroupBox textarea {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

groupbox {
	transition: box-shadow 200ms;
	-webkit-transition: -webkit-box-shadow: 200ms;
	min-width: 340px;
	min-height: 142px;
	text-align: left;
	margin: 5px;
	margin-top: 30px;
	display: inline-block;
	border: solid 1pt #666;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 5px;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

groupbox:hover {
	-webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
}

groupbox label {
	margin-top: -16px;
	font-weight: 400;
}

Banner {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	border: solid 1pt gray;
	background-color: #eee;
	padding: 8px;
	font-size: 14px;
	font-weight: bold;
	color: #888;
}

Banner.success {
	background-color: #c0ffbf;
	border-color: #00ce1b;
	color: #0d7500;
}

Banner.error {
	background-color: #ffc0bf;
	border-color: #ce001b;
	color: #750d00;
}

textarea {
	resize: none;
}

Table TH,groupbox label {
	color: #444;
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(249, 249, 249, 1) 12%, rgba(255, 255, 255, 1) 100% );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 1) ), color-stop(12%, rgba(249, 249, 249, 1) ),
		color-stop(100%, rgba(255, 255, 255, 1) ) );
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(249, 249, 249, 1) 12%, rgba(255, 255, 255, 1) 100% );
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(249, 249, 249, 1) 12%, rgba(255, 255, 255, 1) 100% );
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(249, 249, 249, 1) 12%, rgba(255, 255, 255, 1) 100% );
	background: linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(249, 249, 249, 1) 12%, rgba(255, 255, 255, 1) 100% );
	filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
		'#ffffff', endColorstr = '#ffffff', GradientType = 0 );
}

GroupList GroupBox Label {
	cursor: move;
}

GroupBox bubble {
	font-size: 9px;
	padding: 2px;
	cursor: pointer;
	text-decoration: none;
	margin-top: -25px;
	margin-right: 5px;
	color: inherit;
	display: table;
	float: right;
	transition: all 200ms ease;
	-moz-transition: all 200ms ease; /* Firefox 4 */
	-webkit-transition: all 200ms ease; /* Safari and Chrome */
	-o-transition: all 200ms ease; /* Opera */
}

GroupBox bubble:hover {
	background-color: #f1f1f1;
}

tooltip {
	display: none;
	position: absolute;
	border: solid 1pt black;
	padding: 5px;
}
