body {
	background-color: #E0E4CC;
	font-family: 'open sans', sans-serif;
	cursor: default;
}

framework\:theme container {
	width: 800px;
	display: block;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
	margin: 0px auto;
}

framework\:theme a.logo {
	opacity: 1;
	display: table;
	margin: 14px auto;
}

framework\:theme header,framework\:theme footer {
	font-family: trebuchet, 'open sans', sans-serif;
	color: #eaeaea;
	font-size: 13px;
	background-color: black;
}

framework\:theme footer {
	padding: 5px;
	font-size: 9px;
	color: #888;
}

framework\:theme a {
	color: inherit;
	opacity: 0.7;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-o-transition: all 200ms;
	-transition: all 200ms;
}

framework\:theme a:hover {
	opacity: 1;
}

framework\:theme header ol {
	padding: 0px;
	margin: 0px;
}

framework\:theme header ol li {
	list-style-type: none;
	display: inline-block;
	margin: 0px;
}

framework\:theme header ol li a {
	display: block;
	padding: 4px 0px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	color: white;
	opacity: 1;
}

framework\:theme header ol li a:hover {
	background-color: #69D2E7;
	color: black;
}

framework\:theme framework\:page {
	display: block;
	text-align: center;
	background-color: white;
	width: 100%;
}

h1 {
	font-size: 120%;
}

h2 {
	font-size: 115%;
}

h3 {
	font-size: 110%;
}

h4 {
	font-size: 105%;
}

form input,form textarea {
	border: solid 1pt #676767;
	border-radius: 3px;
	padding: 3px;
	resize: none;
}

p,form {
	display: table;
	margin: 4px auto;
	text-align: left;
	width: auto;
}

p {
	margin: 8px;
	font-size: 90%;
}

widget.error p {
	display: block;
	text-align: center;
}

form label {
	margin-top: 3px;
	font-size: 11px;
	display: block;
	width: auto;
}

form input.button {
	cursor: pointer;
	border: solid 1pt #ADADAD;
	background: rgb(229, 229, 229); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(229, 229, 229, 1) 0%,
		rgba(214, 214, 214, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(229,
		229, 229, 1) ), color-stop(100%, rgba(214, 214, 214, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(229, 229, 229, 1) 0%,
		rgba(214, 214, 214, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(229, 229, 229, 1) 0%,
		rgba(214, 214, 214, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(229, 229, 229, 1) 0%,
		rgba(214, 214, 214, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(229, 229, 229, 1) 0%,
		rgba(214, 214, 214, 1) 100% ); /* W3C */
	filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
		'#e5e5e5', endColorstr = '#d6d6d6', GradientType = 0 ); /* IE6-9 */
}

form input.button:hover {
	background: rgb(239, 239, 239); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(239, 239, 239, 1) 0%,
		rgba(214, 214, 214, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(239,
		239, 239, 1) ), color-stop(100%, rgba(214, 214, 214, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(239, 239, 239, 1) 0%,
		rgba(214, 214, 214, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(239, 239, 239, 1) 0%,
		rgba(214, 214, 214, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(239, 239, 239, 1) 0%,
		rgba(214, 214, 214, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%,
		rgba(214, 214, 214, 1) 100% ); /* W3C */
	filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
		'#efefef', endColorstr = '#d6d6d6', GradientType = 0 ); /* IE6-9 */
}