Framework\:Theme {
	padding: 0px;
}

header {
	width: 100%;
}

header content {
	width: 986px;
	margin: 0 auto;
	display: table;
}

p {
	text-align: left;
	display: inline-block;
	margin: 24px 4px;
	width: auto;
}
