body {
	background-color: #343434;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px;
}

Framework\:Theme {
	width: auto;
	margin: 0px auto;
	border-radius: 10px;
	text-align: center;
	display: table;
	height: default;
	min-height: 200px;
	background-color: #eaeaea;
	-webkit-box-shadow:  0px 0px 6px 0px rgba(0, 0, 0, 1);
     box-shadow:  0px 0px 6px 0px rgba(0, 0, 0, 1);
}

p {
	text-align: left;
	display: inline-block;
	margin: 24px 4px;
	width: auto;
}
